#zima-header.zima-header {
  width: 100%;
  user-select: none;
  background: #e0242f;
  height: 80px;
  position: relative;
}

.zima-lgo-wrapper .logo {
  padding-left: 35px;
  margin-top: 15px;
  margin-bottom: 20px;
  float: left;
  width: 10%;
}

.zima-lgo-wrapper .logo .icon {
  background-image: url(../Resources/icon-2.png);
  background-size: 100% auto;
  width: 45px;
  height: 45px;
}

.zima-lgo-wrapper .clock {
  width: 20%;
  float: left;
  margin-top: 0px;
}

.zima-lgo-wrapper .clock ul {
  width: 50%;
  color: #fff;
  font-size: 13px;
  margin-right: 10px;
}

.zima-lgo-wrapper .clock ul li {
  margin: 1px 10px 1px 10px;
}

.clock-text {
  font-size: 13px;
  color: #fff;
}

.zima-lgo-wrapper .clock .zima-button {
  color: #fff;
  border: 0px solid #000;
  background-color: #1c4863;
  padding: 5px 35px;
  border-radius: 25px;
  font-size: 18px;
  margin-top: 22px;
  text-transform: uppercase;
}

.header-search-button {
  width: 70%;
  display: flex;
  justify-content: center;
  float: left;
}

.headertwo-search {
  width: 50%;
  margin-top: 20px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #fff;
  z-index: 100000000;
}

.headertwo-search input {
  width: 80%;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 0.7px;
  color: #555;
}

.headertwo-search input::focus {
  border: 0px solid #000;
}

.headertwo-search input::active {
  border: 0px solid #000;
}

.headertwo-search input::-webkit-input-placeholder {
  color: #4c3c81;
  text-align: center;
  padding: 0;
  font-size: 18px;
}

.headertwo-search button {
  width: 20%;
  height: 40px;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 14px;
  color: #fff;
  background-color: #4c3c81;
  border: 0;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}

@media only screen and (max-width: 480px) {
  .zima-lgo-wrapper .clock {
    display: none;
  }
  .zima-lgo-wrapper ul {
    display: none;
  }
  .zima-lgo-wrapper .logo {
    padding-left: 0px;
    margin-top: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .zima-lgo-wrapper .logo .icon {
    background: url(../Resources/zima_logo.png) no-repeat;
    background-size: 100% auto;
    width: 200px;
    height: 45px;
  }
}

@media only screen and (max-width: 320px) {
}
