.container-fluid{
    margin:0;
    padding:0;
    background-color: #eee;
}
.top-nav{
    background: #e0242f;
 
    height: 30px;
}
/*sidebar*/
.sidebar{
    border: none;
    background-color: #ffffff;
    -webkit-box-shadow: -2px -2px 49px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -2px 49px -12px rgba(0,0,0,0.75);
box-shadow: -2px -2px 49px -12px rgba(0,0,0,0.75);
}
.sidebar h5{
    font-size: 22px;
}
.sidebar .user-profile{
    border:1px solid #eee;
    padding: 10px 22px;
}

.sidebar .navigations ul{
    list-style: none;
    margin:0;
    padding:0;
}
.sidebar .navigations ul li{
    border-bottom: 1px solid #e9efff;
}
.sidebar .navigations ul li a{
    display: block;
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 12px 24px;
    color: #333;
    transition:all 0.3s ease;
}
.sidebar .navigations ul li a i{
    margin-right: 10px;;
}
.sidebar .navigations ul li a:hover, .sidebar .navigations ul li.active{
    background-color: #e9efff;
    font-size: 18px;
    border-left: 2px solid #232323; 
}