
#zima-header.zima-header {
  width: 100%;
  user-select: none;
  background: #e0242f;
  height: inherit;
  position: relative;
}

.zima-header .navbar{
  padding: 0;
}


.zima-lgo-wrapper .logo .icon {
  background-image: url(../Resources/icon-2.png);
  background-size: 100% auto;
  width: 45px; 
  height: 45px;
}


.zima-lgo-wrapper ul li {
  display: inline-block;
}

.zima-lgo-wrapper ul li a {
  color: #fff;
  font-size: 15px;
}

.zima-lgo-wrapper ul li.text {
  margin-right: 50px;
}

.zima-lgo-wrapper ul li.text p {
  color: #fff;
  font-family: 'PT Sans', Montserrat;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}



.zima-lgo-wrapper .zima-button {
  color: #fff;
  border: 0px solid #000;
  background-color: #1c4863;
  padding: 5px 35px;
  border-radius: 25px;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 30px;
}

@media only screen and (max-width: 480px) {
  /* .zima-lgo-wrapper .clock {
    display: none;
  }
  .zima-lgo-wrapper ul {
    display: none;
  }
  .zima-lgo-wrapper .logo {
    padding-left: 0px;
    margin-top: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .zima-lgo-wrapper .logo .icon {
    background: url(../Resources/zima_logo.png) no-repeat;
    background-size: 100% auto;
    width: 200px;
    height: 45px;
  } */
}

@media only screen and (max-width: 320px) {
}
