.zima-landing-page-footer {
  position: relative;
  padding: 70px 0 0 0;
  background-color: #4c3c81;
  overflow: hidden;
}

.zima-landing-page-footer::before {
  content: '';
  background-image: url(../Resources/icon-3.png);
  position: absolute;
  background-size: cover;
  background-position: 0% 30%;
  width: 500px;
  height: 100%;
  right: -90px;
  top: 0;
}

.zima-footer-information {
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.zima-footer-information .footer-box-main {
  width: 50%;
  display: flex;
  justify-content: center;
}

.zima-footer-information .footer-box {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.zima-footer-information ul {
  padding: 0;
  width: 50%;
}

.zima-footer-information ul li {
  list-style: none;
  color: #fff;
  font-size: 13px;
  text-align: left;
  font-family: 'Montserrat';
  margin-bottom: 8px;
}

.zima-footer-information ul li a{
  color: white;
}

.zima-footer-information ul li:first-child {
  text-transform: uppercase;
  color: #aaa;
}

.zima-footer-information h3 {
  font-size: 17px;
  color: #fff;
}

.zima-footer-information .logo {
  display: block;
  margin: 0;
}

.zima-footer-information .logo.sticky img {
  width: 200px;
}

.copyright p {
  margin-top: 17px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.terms p {
  margin-top: 17px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.icons {
  margin-top: 10px;
  text-align: right;
  padding-right: 60px;
}

.zima-landing-page-footer .zima-landing-page-footer-bottom .icons {
  position: relative;
}

.zima-landing-page-footer .zima-landing-page-footer-bottom .icons ul {
  list-style-type: none;
  padding: 0;
}

.zima-landing-page-footer .zima-landing-page-footer-bottom .icons ul li {
  display: inline-block;
  position: relative;
  padding-right: 10px;
}

.zima-landing-page-footer .zima-landing-page-footer-bottom .icons ul li a {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

.zima-landing-page-footer
  .zima-landing-page-footer-bottom
  .icons
  ul
  li
  a:hover {
  color: #a2a4a8;
  transition: 0.4s;
}

@media only screen and (max-width: 480px) {
  .zima-footer-information h3 {
    font-size: 16px;
  }
  .icons {
    text-align: center;
  }
}
